@import "../scss/_variables"; //переменные
.ModalHoc{
    z-index: 99;
    background-color: rgba(27, 39, 51, 0.5);;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    div{
        background-color: white;
        position: absolute;
        width: 90%;
        height: 90%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

