{
    "extends": "airbnb",
    "rules": {

        // enable additional rules
        //"indent": ["error", 4],
        //"linebreak-style": ["error", "unix"],
        //"quotes": ["error", "double"]
    }
}