@import "../scss/_variables"; //переменные
.Page_Content{
	.img{
		display: flex;
		justify-content: center;
	}

	.out > .NewsFrame > div{
		border: 1px dashed red;
		animation: Aout 1s;
		opacity: 0;
		transform: scale(0);
	}
	.in >  .NewsFrame > div{
		border: 1px dashed red;
		animation: Ain 1s;
	}
	.static >  .NewsFrame > div{
		border: 1px dashed red;
	}
	.off >  .NewsFrame > div{
		border: 1px dashed rgba(0,0,0,0);
		opacity: 0; 
	}
	@keyframes Ain {
		0% {
			opacity: 0; 
			transform: scale(1) translate(0%, 100%);
		}

		100% {
			opacity: 1;
			transform: scale(1) translate(0%, 0%);
		}
	}
	@keyframes Aout {
		0% {
			opacity: 1; 
			transform: scale(1) translate(0%, 0%);
		}

		100% {
			opacity: 0;
			transform: scale(1) translate(0%, -100%);
		}
	}
	@keyframes opacityIn {
		0% {
			opacity: 0; 
	
		}
	
		100% {
			opacity: 1;
		}
	}
	@keyframes opacityOut {
		0% {
			opacity: 0; 
	
		}
	
		100% {
			opacity: 1;
		}
	}
}
