@import "../scss/_variables"; //переменные
.Page_Content{
	.img{
		display: flex;
		justify-content: center;
	}

	.out > .NewsFrame > div{
		border: 1px dashed red;
		animation: a-out 1s;
		opacity: 0;
		transform: scale(0);
	}
	.in >  .NewsFrame > div{
		border: 1px dashed red;
		animation: a-in 1s;
	}
	.static >  .NewsFrame > div{
		border: 1px dashed red;
	}
	.off >  .NewsFrame > div{
		border: 1px dashed rgba(0,0,0,0);
		opacity: 0; 
	}
	
}
