.rst__node {
    display: flex;

    .rst__lineBlock {
        flex: 0 0 auto;
    }

    .rst__nodeContent {
        left: auto !important;
        top: auto !important;
        position: relative !important;
        flex: 0 1 auto;
        width: 100%;
    }
}