@import "../../style/variables"; //переменные
.BlockAboutContent{
    .content{
        div{
            font-weight: 600;
            padding-top: 15px; 
            font-size: 1.2em;
        }
    }
}
