@import "../scss/_variables"; //переменные
.Main{
	.block{
		border: 1px solid gray;
	}
	.Main{
		font-style: italic;
		color: green;
		
		&-bold{
			@extend .Main;
			order: 2;
			font-style: normal;
			font-weight: 900;
		}
		
		@include respond-down(md){
			background: #cef;
		}
		
		@include respond-up(md){
			background: grey;
		}
		
		
	}
	
}
