html  {
  font-family: 'arial';
}

h1 {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 700;
}

.img {
  width: 150px;
  height: 150px;
}
.font {
  font-family: 'testFont';
  background-color: white;
}

@font-face {
	font-family: 'testFont';
	src: url('./assets/Ojuju-Regular.ttf');
	font-style: normal;
}
