
.SelectDropdownWithCheckboxes{
	position: relative;
	.SDWC_content{
		width: 243px;
		height: 42px;
		border-radius: 4px;
		border: 1px solid rgb(210, 212, 219);
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 1.4285em;
		color: rgba(0,0,0,.87);
		
		&:hover{
			border: 1px solid rgb(49, 60, 71);
		}
		&-hover{
			@extend .SDWC_content;
			border: 1px solid rgb(49, 60, 71);
		}
		.SDWC_title{
			padding-left: 5px;
			width: calc(100% - 20px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.SDWC_chevron{
			display: flex;
			padding-right: 5px;
	
			path{
				stroke: rgb(204, 204, 204);
				fill: rgb(204, 204, 204);
			}
			&:hover{
				color: rgb(153, 153, 153);
				path{
					stroke: rgb(153, 153, 153);
					fill: rgb(153, 153, 153);
				}
			}
			&-down{
				@extend .SDWC_chevron;
				svg{
					transform: rotate(180deg);
				}
			}
		}
	}
	
	

	.SDWC_dropContainer{
		position: absolute;
		top: 52px;
		left: -1px;
		.SDWC_dropContent{
			padding: 5px;
			border-radius: 4px;
			border: 1px solid rgb(49, 60, 71);
			color: green;
		}
	}

	
}
