@import "../scss/_variables"; //переменные
.Block_Filter{

	.BlockNav{
        display: flex;
        justify-content: space-between;

    }
    
    .BlockButtons{
        display: flex;
        justify-content: space-between;
    }
	
    .BlockContent{
		min-height: 64px;
		

        //animation
		.contentOff{
			opacity: 0;
		}
		.content{
			display: block;
			&-none .Position > div{
				@extend .contentOff;
				display: none;
			}
			&-none .Position{
				@extend .contentOff;
				display: none;
			}
			&-in .Position > div{
				@extend .content;
				animation: a-in 1s;
			}
			&-in .Position {
				@extend .content;
				animation: o-in 1s;
			}
			&-out .Position > div{
				@extend .contentOff;
				animation: a-out 1s;
			}
			&-out .Position{
				@extend .contentOff;
				animation: o-out 1s;
			}
			&-on .Position > div{
				@extend .content;
			}
			&-on .Position{
				@extend .content;
			}
		}
	
    }
    
    
    

	
		
		

		
}
