.LineBreaker{
    width: 30px;
    border: 1px solid gray;
    margin-left: 500px;
    .LineBreakerWrapper{
        border: 1px dashed red;
        position: relative;
        width: 1000px; 
        margin-left: calc(50% - 500px);
        .line{
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }

}
  
  
  