{   
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true // чтобы eslint не ругался на объекты documnet window и т.д.
    },
    "rules": {
        "react/state-in-constructor": 0, //чтобы можно было объявлять state вне конструктора
        "comma-dangle": 0, //разрешает не ставить запятую после последнего аргумента func(arr,str,)
        "no-console": "off" //разрешает оставлять консоль логи
    }
}