{   
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true // чтобы eslint не ругался на объекты documnet window и т.д.
    },
    "settings": {
        "import/resolver": "webpack" //нужен "eslint-import-resolver-webpack" для того чтобы можно было импортировать из webpack'а
    },
    "rules": {

        // в самом файле можно вставаить 
        // /* eslint import/no-unresolved: [2, { ignore: ['config'] }] */
        // import { backendServiceHost } from 'config';

        "react/state-in-constructor": 0, //чтобы можно было объявлять state вне конструктора
        
        "arrow-body-style": 0, // отключаем стилизцаию стрелочных функций
        "arrow-parens": 0, // отключаем стилизцаия аргументов в стрелочной функции const c = e => {}

        //нельзя ставить запятую после последнего аргумента func(arr,str,)
        "comma-dangle": ["error", {
            "arrays": "never",
            "objects": "never",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }],
        
        "brace-style": "stroustrup", //стиль скобок if(){} / else{}

        "import/prefer-default-export": 0, //разрешает делать экспорт без испрользвания default

        "no-restricted-syntax": 0, //разрешаем использовать все ( даннай настройкой можно заблокировать for of/ for in итд ["error", "ForInStatement", "ForOfStatement"])

        "no-console": "off" //разрешает оставлять консоль логи
    }
}