@import "../scss/_variables"; //переменные
.ButtonLevel3{
	
	input{
        background-color: aqua;
    }
    .selected{
        background-color: green;
    }
    input:disabled{
        background-color: gray;
    }
}
