$white: #fff;
$primary: #1087cc;
$secondary: #3f3f3f;
$error: #fb2047;

$field-focused: #b4c5ff;
$field-border: #cdd1dc;

$blue60: #2790cd;

$neutral-100: #1e202c;
$neutral-90: #313545;
$neutral-70: #5b6178;
$neutral-60: #737992;
$neutral-50: #8c92ab;
$neutral-40: #a6acc4;
$neutral-30: #c1c7de;
$neutral-10: #f0f2f6;

$transparent: rgba(0, 0, 0, 0);

$gradient-primary: linear-gradient(90deg, #3fb8fe 0%, #1081cc 100%);
