@import "../scss/_variables"; //переменные
.Modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    .dialog{
        margin: 55px 8px 8px 8px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: #e4e4e4;
        overflow: scroll;
        .btns{
            padding-top: 2px;
            display: flex;
            justify-content: space-around;
        }
        .message{
            min-height: 1.2em;
            display: flex;
            justify-content: center;
        }
        .content{
            display: flex;
            justify-content: center;
            .label{
                font-size: 0.7em;
                padding-left: 2px;
            }
        }
    }

    
}