@import "../scss/_variables"; //переменные
.Step1{
    div:nth-child(1){
        padding: 10px;
        text-align: center;
    }
    div:nth-child(2){
        display: flex;
        justify-content: center;
        input{
            height: 35px;
        }
    }
    div:nth-child(3){
        padding: 15px;
        display: flex;
        justify-content: center;
        input{
            height:35px;
        }
    }

    
}
