{
    "extends": "airbnb",
    "env": {
        "browser": true // чтобы eslint не ругался на documnet window и т.д.
    },
    "rules": {

        // enable additional rules
        //"indent": ["error", 4],
        //"linebreak-style": ["error", "unix"],
        //"quotes": ["error", "double"]
    }
}